
name: Enforce style

on:
  pull_request:

  push:
    branches:
    - master

jobs:
  pre-commit:
    name: Deploy to QGIS plugin repository
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - uses: pre-commit/action@v3.0.1
